body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scanner-box {
    width: 300px;
    height: 300px;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 120px;
}

#reader {
    width: 100%;
    height: 100%;
}

.scan-line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background: #124db3;
    opacity: 0;
    z-index: 10;
}

.scan-btn {
    margin-top: 20px;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: #ffcf19;
    color: white;
}


.scan-btn:hover {
  background: #124db3;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.hidden { display: none; }

.popup-content {
    background: white;
    padding: 20px;
    width: 70%;
    border-radius: 12px;
    text-align: center;
}

.popup-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.popup-buttons button {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
}



.loader {
    width: 64px;
    height: 64px;
    border: 6px solid #ddd;
    border-top: 6px solid #ffcf19;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* html5-qrcode video fix */
#reader video {
    position: relative !important;
    z-index: 1 !important;
}

/* popups MUST be above camera */
.popup {
    z-index: 9999 !important;
    
}

#continueBtn {
    background: #ffcf19;
    color: white;
    font-size: 16px;
}

#listBtn {
    background: #ffcf19;
    color: white;
    font-size: 16px;
}

#continueBtn:hover {
    background: #124db3;
    color: white;
}

#listBtn:hover {
    background: #124db3;
    color: white;
}
